.app__informations-wrapper {
  position: relative;
  padding: 1rem 0 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 10px;
    border-bottom: 5px solid var(--secondary-color);
    color:  var(--text-strong);
    left: 32%;
    top: 0%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 10px;
    border-bottom: 5px solid var(--secondary-color);
    color:  var(--text-strong);
    right: 32%;
    bottom: 0%;
  }
}

.app__informations {
  display: grid;
  grid-template-columns: 1fr 1fr;


  ul {
    margin: 1rem 2rem;

    li {
      list-style-type: none;
      color: var(--black-color);

      strong {
        color: var(--secondary-color)
      }

      a {
        text-decoration: none;
        color: var(--brown-color);
      }
    }
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.app__informations-graph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  h1 {
    text-align: center;
    margin-top: 2rem;
    color: var(--secondary-color)
  }

  .graph-experience, .graph-education {
    margin: 0 auto;
    max-width: 650px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;

    .timeline__component {
      margin: 0 20px 20px 20px;
      font-size: 0.9rem;

      .timeline__date {
        font-weight: bold;
      }

      .timeline__date-right {
        text-align: right;
      }

      .timeline__date-left {
        text-align: left;
      }
    }

    .timeline__component-background {
      padding: 1em;
      border: var(--white-color);
      border-radius: 15px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    .timeline__middle {
      position: relative;
      background-color: var(--secondary-color);

      .timeline__point  {
        position: absolute;
        top: 3px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background-color: var(--secondary-color);
        border-radius: 50%;
      }
    }
  }
}











